.form-container {
  padding: 25px;
  border: 1px solid #ccc;
  background-color: #15172b;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  color: #eee;
  min-width: 342px;
  margin: 20px 0;
}

fieldset, .passwords-container {
  border: none;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 5px;
}

.passwords-container {
  gap: 20px;
}

input,
textarea {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  padding: 4px 20px 0;
  width: 100%;
  height: 50px;
}

.message {
  color: rgba(0, 255, 128, 0.749);
}
.message.error {
  color: rgba(255, 0, 0, 0.826);
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
}


span {
  display: block;
font-size: 14px;
max-width: 290px;
}

.btn {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-align: center;
  width: 100%;

  &:hover {
    background-color: #06b;
  }
  &:active {
    background-color: #08d;
  }
}

p {
font-size: 16px;
font-weight: 700;
text-align: center;
line-height: 1.5;
max-width: 300px;
margin: 0 auto;
background-color: #15172b;
padding: 10px 20px;
border-radius: 10px;
}

h2{
  text-align: center;
}